<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title of my page</title>
</head>
<body>
    <h1>About {{viewName}}</h1>
    <p>Synergic Softek Solutions Pvt. Ltd. (An ISO 9001:2015 Certified Company) offers
      a dynamic blend of strategy consulting and system integration services to help organizations
      architect and build their businesses in the Economy. We find this opportunity to introduce \
      ourselves as an organization engaged in developing diversified Software Solutions.</p>
</body>
</html>